<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>监控详情</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h2>视频1@DS-7808NB-K2(C30163833)</h2>
    <video id="myPlayer"
           src="https://hls01open.ys7.com/openlive/dc76cdfbc3ad4d70af9b6714986451a2.m3u8"
           [autoplay]
           controls
           playsInline
           webkit-playsinline>
    </video>
</ion-content>
