<ion-header>
  <ion-toolbar>
    <ion-title>工作证</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openQr()">
        <ion-icon slot="icon-only" name="qr-scanner"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar no-border-top color="primary">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let e of employees" (click)="openDetail(e)">
      <ion-avatar slot="start">
        <img src="assets/image/avatar/{{e.avatar}}">
      </ion-avatar>
      <ion-label>
        <h2>{{e.name}}</h2>
        <h3>{{e.post}}</h3>
        <p>有效期：{{e.registeDate}} {{e.expired}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
